<div style="font-family: Roboto">
  <h2 md-dialog-title>Recursos usados</h2>
  <md-dialog-content>
  <span>
    <p>Front-end elaborado usando:</p>
    <md-list>
        <md-list-item>
          <a href="https://cli.angular.io">Angular CLI</a>
        </md-list-item>
        <md-list-item>
          <a href="http://material.angular.io/">Material Angular</a>
        </md-list-item>
    </md-list>
    <p>Backend elaborado usando:</p>
    <md-list>
    <md-list-item>
          <a href="http://spring.io/">Spring Boot</a>
        </md-list-item>
        <md-list-item>
          <a href="http://heroku.com/">Deployed Heroku</a>
        </md-list-item>
        <md-list-item>
          <a href="https://github.com/graphhopper/jsprit">JSprit Routing API</a>
        </md-list-item>
      </md-list>
  </span>
  </md-dialog-content>
  <md-dialog-actions>
    <a md-raised-button color="accent" href="https://github.com/albertjimenez/cvrptenisclient">
      Visita el repositorio
      <md-icon><i class="fa fa-github" aria-hidden="true"></i>
      </md-icon>
    </a>
  </md-dialog-actions>
</div>
