<style>
  @import url('https://fonts.googleapis.com/css?family=Lobster');
</style>

<md-toolbar color="primary" class="mat-elevation-z5 animated fadeInDown">


  <a href="/">
    <img src="assets/icon.png" class="displayed">
  </a>
  <span style="font-family: 'Lobster', cursive; font-size: 150%;">
    <a href="/">
      <p href="/" class="my-shadow" style="color: skyblue">Child collector 1.0</p>
    </a>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="lefter"></span>

  <span>Beta</span>
</md-toolbar>
