
<md-card id="form_background" class="animated bounceInUp">
  <md-card-title>Posición de tus niños</md-card-title>
  <form novalidate [formGroup]="child" (ngSubmit)="onSubmit()">
    <md-card-content>
      <md-input-container>
        <label>
          <span>Id</span>
          <input mdInput
                 formControlName="id">
        </label>
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-input-container>
        <label>
          <span>Número de niños (en blanco = 1)</span>
          <input mdInput
                 type="number"
                 min="1"
                 formControlName="cost">
        </label>
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-input-container>
        <label>
          <span>Coordenada X</span>
          <input mdInput
                 type="number"
                 formControlName="x">
        </label>
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-input-container>
        <label>
          <span>Coordenada Y</span>
          <input mdInput
                 type="number"
                 formControlName="y">
        </label>
      </md-input-container>
    </md-card-content>
    <button md-raised-button color="accent" [disabled]="child.invalid">Añadir nuevo niño</button>
    <a md-raised-button style="background-color: lawngreen" [routerLink]="['/vans']" (click)="onSubmit()">Siguiente</a>
  </form>
</md-card>


<h1 class="my-shadow" style="font-family: Lobster;text-align: center">Niños añadidos</h1>

<md-chip-list class="mat-chip" *ngFor="let c of listChildrenID" style="background-color: dodgerblue">
  <md-chip style="background-color: dodgerblue; font-family: Pacifico" (dblclick)="eventDoubleClick($event)">
    {{c}}
  </md-chip>
</md-chip-list>

<toaster-container></toaster-container>
<div *ngIf="!validForm">

</div>


