<md-card id="form_background" class="animated bounceInUp">
  <md-card-title>Posición de tus niños</md-card-title>
  <form novalidate [formGroup]="child" (ngSubmit)="onSubmit()">
    <md-card-content>
      <md-input-container>
        <label>
          <span>Id</span>
          <input mdInput
                 formControlName="id">
        </label>
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-input-container>
        <label>
          <span>Número de niños (en blanco = 1)</span>
          <input mdInput
                 type="number"
                 min="1"
                 formControlName="cost">
        </label>
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-input-container>
        <label>
          <span>Coordenada X</span>
          <input mdInput
                 type="number"
                 formControlName="x">
        </label>
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-input-container>
        <label>
          <span>Coordenada Y</span>
          <input mdInput
                 type="number"
                 formControlName="y">
        </label>
      </md-input-container>
    </md-card-content>
    <button md-raised-button color="accent" [disabled]="child.invalid">Añadir nuevo niño</button>
    <a md-raised-button style="background-color: lawngreen" [routerLink]="['/vans']">Siguiente</a>
  </form>
</md-card>

<div *ngIf="!validForm">

</div>


